#container {
    grid-template-rows: 1fr 8fr;
}

#content {
    font-style: italic;
    height: 100vh;
    font-size: 3rem;
    justify-items: center;
    justify-content: start;
    align-items: center;
    grid-template-rows: 2fr repeat(3, 1fr) 10fr;
}

.name {
    font-size: 4.4rem;
    font-weight: 700;
}