#container {
    grid-template-rows: 1fr 8fr;
}

#content {
    height: 100vh;
    font-size: 2.5rem;
    justify-items: center;
    justify-content: start;
    align-items: center;
    grid-template-rows: 3fr 1fr 1fr 1fr 3fr;
}

.name {
    font-size: 4rem;
    font-weight: 700;
}