body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #439d31;
}

#container {
    display: grid;
    grid-template-rows: 1fr 12fr;
}

#content {
    height: 125vh;
    display: grid;
    justify-content: center;
}

#buttons {
    justify-self: center;
    align-self: center;
    display: flex;
    gap: 32px;
}

#buttons button {
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 155px;
    padding: 12px;
    border-radius: 12px;
    font-size: 1.3rem;
    background-color: rgb(41, 132, 41);
    border: 1px solid black;
    font-weight: 700;
}