* {
    margin: 0;
}

#content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

.welcome-title,
.welcome-body {
    font-style: italic;
}

.welcome-title {
    padding: 24px;
    font-size: 5rem;
    font-weight: 700;
    justify-self: center;
    grid-row: 1/2;
}

.welcome-img {
    justify-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
    grid-row: 2/3;
}

.welcome-img img {
    height: 100%;
    width: 100%;
}

.welcome-body {
    width: clamp(200px, 170vh, 2000px);
    font-size: 3.5rem;
    margin: 32px;
    grid-row: 3/4;
}

.food-images {
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: auto;
    width: clamp(200px, 100%, 1300px);
}

.food-images img {
    margin: 32px;
    border-radius: 16px;
    height: auto;
    width: clamp(250px, 100%, 1300px);
}